.achievements {
    padding: 80px 0;

    &__box {
        display: flex;
        flex-wrap: wrap;

        .card {
            max-width: 250px;
            display: flex;
            align-items: center;

            &__inner {
                margin-top: 0;
                margin-left: 16px;
                text-align-last: left;
            }

            &:nth-child(1n + 3) {
                margin-top: 40px;
            }
        }
    }
}