.header {
    padding-top: 16px;
    padding-bottom: 50px;
    background-image: url("./../images/header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &__inner {
        margin-top: 96px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        img {
            max-width: 350px;
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper {
        margin-top: 80px;
        
        h1 {
            color: black;
            line-height: 62px;
            font-size: 62px;
            font-family: $ff-bold;
        }
    }

    &__button {
        margin-top: 36px;
    }

    &__logo {
        margin-right: 38px;
    }
}